*.bak
*.un~
*.*~
*.scvd
*.old
*.uvoptx
/**/build_*/
/**/build/
/**/*.pyc
.sconsign.dblite
.DS_Store
.idea
Kconfig.tmp
.venv
.DS_Store
.cache
compile_commands.json
app/watch/project/build_sf32lb52-watch_hcpu
app/compass
app/watch_exp
.vscode/settings.json
.gitignore
.clangd
tools/SifliUsartServer/SifliUsartServer.ini
app/watch/src/gui_apps/eez/*.c
app/watch/src/gui_apps/eez/*.h